html {
	margin: 0px 0px 0px 0px;
}
body {
	background-color: #D2E0EB;
}

img {
	width: 20%;
	padding: 50px;
	float: left;
}
#login {
	background-color: #EB7A4B;
	color: white;
	height: 50px;
	width: 200px;
}
#bluebox {

}

#modbox {
	
}

#userpass {
	
}

#login {
	
}

#arya{
	
}

#revenue {

}

#mailbox {

}

#date {

}

#eventbutton {
	background-color: #58CDFF;
	color: white;
	height: 50px;
	width: 200px;
}

#timer {

}